void main(){
  var p1=Person(name:'Farid',surname:'Ahmadov',age:21);
  print(p1.fullname);
}



class Person{
  String name;
  int age;
  String surname;
  Person({required this.name,required this.age,required this.surname});
  
  get fullname{
    return '$name $surname $age';
  }
}
